Package: fireset-dev
Version: 0.3.0
Section: libdevel
Priority: optional
Architecture: amd64
Depends: libglfw3-dev
Maintainer: Henrique <hiqkrs@gmail.com>
Description: Fireset Engine
 Retro C Game Engine
 License: MIT
